In [289]:
import pandas as pd
import numpy as np
import xlrd

In [16]:
%cd C:\Users\markg\Documents\Python\UofM Course

C:\Users\markg\Documents\Python\UofM Course

## Question 1

df1 named **Energy**,
- exclude footer and header, 
- remove first two columns, 
- change name of columns (see question),
- convert energy supply to gigajoules (1,000,000 in 1 petajoule),
- replace missing data as NaN,
- rename Countries (from list), 
- remove () and numbers for countries,
***
df2 named **GDP**,
- remove header,
- rename countries fromm list,
***
df3 named **ScimEn**, 
- only top 15
- only years 2006-2015
***

In [175]:
excel1 = pd.ExcelFile('datasets\Energy Indicators.xls')

In [257]:
# load in data about energy supply
Energy = pd.read_excel(excel1, 0, # Sheet 1
                    skiprows = 17, skipfooter = 38, # Specify Number of Rows to remove at top and bottom
                    usecols = ('C,D,E,F'), # Specify Cols
                    names=['Country', 'Energy Supply',
                           'Energy Supply per Capita', '% Renewable'], # Rename Col - must match usecols 
                    na_values = "..."  # Specify what NaN should replace in the df
                   ) 
# Changing petajoules into gigajoules
Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)

# Rename Countries and tidy up their names
Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)", "")
Energy['Country'] = Energy['Country'].str.replace(r"\d", "")

Energy['Country'] = Energy['Country'].replace({"Republic of Korea": "South Korea","United States of America":"United States",
                                               "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                               "China, Hong Kong Special Administrative Region": "Hong Kong"}) 
                                            #Old : New names in Dict, rename() renames cols not values, so use replace()

C:\Users\markg\AppData\Local\Temp\ipykernel_8940\3539053841.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)", "")
C:\Users\markg\AppData\Local\Temp\ipykernel_8940\3539053841.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy['Country'] = Energy['Country'].str.replace(r"\d", "")

In [295]:
# Load in GDP data
GDP = pd.read_csv(".\datasets\world_bank.csv", 
                 skiprows = 4, 
                 usecols = ['Country Name','2006','2007','2008','2009',
                            '2010','2011','2012','2013','2014','2015'])

# Renaming some countries
GDP['Country Name']= GDP['Country Name'].replace({"Korea, Rep.": "South Korea",
                                             "Iran, Islamic Rep.": "Iran",
                                             "Hong Kong SAR, China": "Hong Kong"}, 
                                           )
# Renaming column
GDP.rename(columns = {'Country Name': 'Country'}, inplace = True)
GDP.head()

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [293]:
# Read in Science engagement data, we want all these columns
ScimEn = pd.read_excel('.\datasets\scimagojr-3.xlsx')
ScimEn.head(20)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95

In [586]:
df1 = pd.merge(ScimEn, GDP, how = 'inner', 
              left_on='Country', right_on='Country')
df = pd.merge(df1, Energy, how = 'inner', 
             left_on = 'Country', right_on = 'Country')

result = df[df['Rank'].lt(16)]
result = result.set_index('Country')
result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,9.172000e+09,119.0,5.707721
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030

## Question 2

In [335]:
 def answer_two():
    #Load Energy Data
    excel1 = pd.ExcelFile('datasets/Energy Indicators.xls')
    Energy = pd.read_excel(excel1, 0, # Sheet 1
                    skiprows = 17, skipfooter = 38, # Specify Number of Rows to remove at top and bottom
                    usecols = ('C,D,E,F'), # Specify Cols
                    names=['Country', 'Energy Supply',
                           'Energy Supply per Capita', '% Renewable'], # Rename Col - must match usecols 
                    na_values = "..."  # Specify what NaN should replace in the df
                   ) 
    # Changing petajoules into gigajoules
    Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)

    # Rename Countries and tidy up their names
    Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)", "")
    Energy['Country'] = Energy['Country'].str.replace(r"\d", "")
    Energy['Country'] = Energy['Country'].replace({"Republic of Korea": "South Korea","United States of America":"United States",
                                               "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                                               "China, Hong Kong Special Administrative Region": "Hong Kong"}) 
                                            #Old : New names in Dict, rename() renames cols not values, so use replace()
    # Load in GDP data
    GDP = pd.read_csv("datasets/world_bank.csv", 
                 skiprows = 4, 
                 usecols = ['Country Name','2006','2007','2008','2009',
                            '2010','2011','2012','2013','2014','2015'])
    
    # Renaming some countries
    GDP['Country Name']= GDP['Country Name'].replace({"Korea, Rep.": "South Korea",
                                             "Iran, Islamic Rep.": "Iran",
                                             "Hong Kong SAR, China": "Hong Kong"}, 
                                           )
    # Renaming column
    GDP.rename(columns = {'Country Name': 'Country'}, inplace = True)
    
    # Read in Science engagement data, we want all these columns
    ScimEn = pd.read_excel('datasets/scimagojr-3.xlsx')
    
    #Merging Datasets on Countries - then indexed to countries
    df1 = pd.merge(ScimEn, GDP, how = 'inner', 
              left_on='Country', right_on='Country')
    df = pd.merge(df1, Energy, how = 'inner', 
             left_on = 'Country', right_on = 'Country')
    # Merging but Outer joins
    df_o1 = pd.merge(ScimEn, GDP, how = 'outer', 
              left_on='Country', right_on='Country')
    df_o = pd.merge(df_o1, Energy, how = 'outer', 
             left_on = 'Country', right_on = 'Country')

    result = len(df_o)-len(df)
    return result

answer_two() #Answer is 158, but that's what I get in the assignement notebook, but not in this one?

C:\Users\markg\AppData\Local\Temp\ipykernel_8940\2441315911.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy['Country'] = Energy['Country'].str.replace(r" \(.*\)", "")
C:\Users\markg\AppData\Local\Temp\ipykernel_8940\2441315911.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy['Country'] = Energy['Country'].str.replace(r"\d", "")

158

## Question 3

In [370]:
result['gdp_avg'] = (result[['2006','2007', '2008', '2009','2010', '2011', '2012', '2013', '2014', '2015']]
      .apply(np.mean,axis = 1))
result['gdp_avg'].sort_values(ascending = False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: gdp_avg, dtype: float64

## Question 4

In [371]:
uk = result.loc['United Kingdom']
print(uk['2015']-uk['2006'])

246702696075.3999

## Question 5

In [585]:
result['Energy Supply per Capita'].mean()

157.6

## Question 6

In [584]:
df = result.reset_index()
df = df.set_index('Country')
maxrenew = df.sort_values('% Renewable',ascending = False).iloc[0]
n,v = (maxrenew.name, maxrenew['% Renewable'])

## Question 7

In [418]:
df = result.copy()
df['Self-Total Ratio'] = df['Self-citations']/df['Citations']
highest_ratio = df.sort_values('Self-Total Ratio', ascending = False).iloc[0]
china = (highest_ratio.name, highest_ratio['Self-Total Ratio'])
china

('China', 0.6893126179389422)

## Question 8

In [456]:
df = result.copy()
df['PopEst'] = df['Energy Supply']/df['Energy Supply per Capita']
df = df.sort_values('PopEst', ascending = False)
df.index[2]

'United States'

## Question 9

In [472]:
df = result.copy()
df['PopEst'] = df['Energy Supply']/df['Energy Supply per Capita']
df['CitesPerPop'] = df['Citable documents']/df['PopEst']
corr = df['CitesPerPop'].corr(df['Energy Supply per Capita'], method = 'pearson')
corr

0.7940010435442946

## Question 10

In [503]:
df = result
cond = df['% Renewable'].median()

df['AboveMed%'] = df['% Renewable'].apply(lambda x:1 if x>= cond else  0)
HighRenew = df['AboveMed%']

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: AboveMed%, dtype: int64

## Question 11

In [581]:
df = result.copy()
df['PopEst'] = df['Energy Supply']/df['Energy Supply per Capita']
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
df['Continent'] = pd.Series(ContinentDict)


df

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,...,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable,Continent,PopEst,mean
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,...,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910,Asia,1.367645e+09,2.059153e+08
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,...,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980,North America,3.176154e+08,2.059153e+08
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,...,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820,Asia,1.274094e+08,2.059153e+08
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,...,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470,Europe,6.387097e+07,2.059153e+08
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,...,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680,Europe,1.435000e+08,2.059153e+08
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,...,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430,North America,3.523986e+07,2.059153e+08
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,...,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530,Europe,8.036970e+07,2.059153e+08
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,...,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080,Asia,1.276731e+09,2.059153e+08
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,...,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280,Europe,6.383735e+07,2.059153e+08
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,...,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353,Asia,4.980543e+07,2.059153e+08
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,...,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230,Europe,5.990826e+07,2.059153e+08
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,...,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590,Europe,4.644340e+07,2.059153e+08
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,...,4.532569e+11,4.445926e+11,4.639027e+11,NaN,9.172000e+09,119.0,5.707721,Asia,7.707563e+07,2.059153e+08
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,...,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810,Australia,2.331602e+07,2.059153e+08
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,...,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030,South America,2.059153e+08,2.059153e+08

In [580]:
df1 = df.groupby('Continent').agg({'PopEst':[ np.size, np.sum, np.mean, np.std, ]})
df1.replace({'nanmean':'nanmean1'}, inplace = True)
df1

              PopEst
                size           sum          mean           std
Continent
Asia               5  2.898666e+09  5.797333e+08  6.790979e+08
Australia          1  2.331602e+07  2.331602e+07           NaN
Europe             6  4.579297e+08  7.632161e+07  3.464767e+07
North America      2  3.528552e+08  1.764276e+08  1.996696e+08
South America      1  2.059153e+08  2.059153e+08           NaN

## Question 12

In [600]:
df = result.copy()
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
df['Continent'] = pd.Series(ContinentDict)
df['% Renewable'] = pd.cut(df['% Renewable'], 5)
bins = df.groupby(['Continent', '% Renewable'])
bins = bins['Continent'].agg(np.size).dropna()

Continent      % Renewable
Asia           (2.212, 15.753]     4.0
               (15.753, 29.227]    1.0
Australia      (2.212, 15.753]     1.0
Europe         (2.212, 15.753]     1.0
               (15.753, 29.227]    3.0
               (29.227, 42.701]    2.0
North America  (2.212, 15.753]     1.0
               (56.174, 69.648]    1.0
South America  (56.174, 69.648]    1.0
Name: Continent, dtype: float64

## Question 13

In [612]:
df = result.copy()
df['PopEst'] = df['Energy Supply']/df['Energy Supply per Capita']
df['PopEst'] = df['PopEst'].apply('{:,}'.format) 
df

15

In [613]:
10**10

10000000000