In [5]:
%cd C:\Users\markg\Documents\Python\UofM Course\week1
%pwd

C:\Users\markg\Documents\Python\UofM Course\week1

'C:\\Users\\markg\\Documents\\Python\\UofM Course\\week1'

In [47]:
import pandas as pd
import numpy as np

## Question 1
#### Write a function called proportion_of_education which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

This function should return a dictionary

### Draft 1

In [93]:
# Read in csv and  select two columns in dataframe
df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
df = df[['SEQNUMC', 'EDUC1']]

# Get number of children, specify child column
num_child = df['SEQNUMC'].count()
num_child

28465

In [138]:
#Create empty dictionary to have somewhere to put values
prop_edu = {"less than high school":0,
            "high school":0,
            "more than high school but not college":0,
            "college":0}

# Might be quicker to do this?
prop_edu["less than high school"] = np.sum(df["EDUC1"] ==1)/num_child
prop_edu["high school"] = np.sum(df["EDUC1"] ==2)/num_child
prop_edu["more than high school but not college"] = np.sum(df["EDUC1"] ==3)/num_child
prop_edu["college"] = np.sum(df["EDUC1"] ==4)/num_child

print(prop_edu)

# for loop - might be too slow
for k in prop_edu.keys():
    if k == 'less than high school':
            prop_edu[k] = np.sum(df["EDUC1"] ==1)/num_child
    if k == 'high school':
            prop_edu[k] =  np.sum(df["EDUC1"] ==2)/num_child
    if k == 'more than high school but not college':
            prop_edu[k] =  np.sum(df["EDUC1"] ==3)/num_child
    if k == 'college':
            prop_edu[k] =  np.sum(df["EDUC1"] ==4)/num_child
    
print(prop_edu)




prop_edu['less than high school']

{'less than high school': 0.10202002459160373, 'high school': 0.172352011241876, 'more than high school but not college': 0.24588090637625154, 'college': 0.47974705779026877}
{'less than high school': 0.10202002459160373, 'high school': 0.172352011241876, 'more than high school but not college': 0.24588090637625154, 'college': 0.47974705779026877}

0.10202002459160373

### Final Answer

In [139]:
def proportion_of_education():
    import pandas as pd
    import numpy as np
    
    # Read in csv and  select two columns in dataframe
    df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
    df = df[['SEQNUMC', 'EDUC1']]

    # Get number of children, specify child column
    num_child = df['SEQNUMC'].count()

    #Create empty dictionary to have somewhere to put values
    prop_edu = {"less than high school":0,
            "high school":0,
            "more than high school but not college":0,
            "college":0}

    for k in prop_edu.keys():
        if k == 'less than high school':
                prop_edu[k] = np.sum(df["EDUC1"] ==1)/num_child
        if k == 'high school':
                prop_edu[k] =  np.sum(df["EDUC1"] ==2)/num_child
        if k == 'more than high school but not college':
                prop_edu[k] =  np.sum(df["EDUC1"] ==3)/num_child
        if k == 'college':
                prop_edu[k] =  np.sum(df["EDUC1"] ==4)/num_child
    
    return(prop_edu)

proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

## Question 2
#### Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

This function should return a tuple in the form

### Draft 1

In [176]:
# Reading in the data and selecting breastfeeding and flu vaccine columns
df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
df_flu = df[['CBF_01', 'P_NUMFLU']]
df_flu


# Spliting df by breastfed or not, droping na values
b_flu = df_flu[df_flu['CBF_01'] ==1].dropna()
nb_flu = df_flu[df_flu['CBF_01'] ==2].dropna()

TypeError: 'int' object does not support item assignment

In [178]:
m_b_flu = b_flu['P_NUMFLU'].mean()
m_nb_flu = nb_flu['P_NUMFLU'].mean()

result = (m_b_flu, m_nb_flu)
result

(1.8799187420058687, 1.5963945918878317)

### FInal Answer

In [180]:
def average_influenza_doses():
    import pandas as pd
    
    # Reading in the data and selecting breastfeeding and flu vaccine columns
    df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
    df_flu = df[['CBF_01', 'P_NUMFLU']]
    df_flu


    # Spliting df by breastfed or not, droping na values
    b_flu = df_flu[df_flu['CBF_01'] ==1].dropna()
    nb_flu = df_flu[df_flu['CBF_01'] ==2].dropna()
    
    m_b_flu = b_flu['P_NUMFLU'].mean()
    m_nb_flu = nb_flu['P_NUMFLU'].mean()

    result = (m_b_flu, m_nb_flu)
    return(result)

average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

## Question 2
#### It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex.

This function should return a dictionary in the form of (use the correct numbers):

    {"male":0.2,
    "female":0.4}
    
Note: To aid in verification, the chickenpox_by_sex()['female'] value the autograder is looking for starts with the digits 0.0077.

In [186]:
# load in data and select vaccine, sex and chicken pox columns
df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
df = df[['SEX', 'P_NUMVRC', 'HAD_CPOX']]
df

       SEX  P_NUMVRC  HAD_CPOX
0        1       NaN         2
1        1       NaN         2
2        2       NaN         2
3        2       1.0         2
4        2       0.0         2
...    ...       ...       ...
28460    2       NaN         2
28461    2       NaN         2
28462    2       NaN         2
28463    2       NaN         2
28464    2       NaN         2

[28465 rows x 3 columns]

In [238]:
# Filter data for vaccinated against c-pox
df_v = df[df['P_NUMVRC'].gt(0)].dropna()
# Remove Vaccine Column to focus on sex diff
df_x = df_v.loc[:, ['SEX', 'HAD_CPOX']]

# Number of males who got c-pox and who didn't
male_p = len(df_x[(df_x['HAD_CPOX']==1) & (df_x['SEX']==1)])
male_np = len(df_x[(df_x['HAD_CPOX']==2) & (df_x['SEX']==1)])

# Number of females who got c-pox and who didn't
female_p = len(df_x[(df_x['HAD_CPOX']==1) & (df_x['SEX']==2)])
female_np = len(df_x[(df_x['HAD_CPOX']==2) & (df_x['SEX']==2)])

In [241]:
# Ratios
male_r = male_p/(male_p+male_np)
female_r = female_p/(female_p+female_np)

print(female_r,male_r)

0.007731582786287381 0.009582863585118376

### Final Answer

In [244]:
def chickenpox_by_sex():
    import pandas as pd
    
    #Reading in Data
    df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
    df = df[['SEX', 'P_NUMVRC', 'HAD_CPOX']]
    
    # Filter data for vaccinated against c-pox
    df_v = df[df['P_NUMVRC'].gt(0)].dropna()
    # Remove Vaccine Column to focus on sex diff
    df_x = df_v.loc[:, ['SEX', 'HAD_CPOX']]

    # Number of males who got c-pox and who didn't
    male_p = len(df_x[(df_x['HAD_CPOX']==1) & (df_x['SEX']==1)])
    male_np = len(df_x[(df_x['HAD_CPOX']==2) & (df_x['SEX']==1)])

    # Number of females who got c-pox and who didn't
    female_p = len(df_x[(df_x['HAD_CPOX']==1) & (df_x['SEX']==2)])
    female_np = len(df_x[(df_x['HAD_CPOX']==2) & (df_x['SEX']==2)])
    
    #Ratios
    male_r = male_p/(male_p+male_np)
    female_r = female_p/(female_p+female_np)

    return(female_r,male_r)

chickenpox_by_sex()

(0.007731582786287381, 0.009582863585118376)

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more no’s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [249]:
# Read in data, filter columns, remove NaNs and Nas (also 77, 99)
df = df = pd.read_csv('UofM Course/datasets/NISPUF17.csv')
df = df[['P_NUMVRC', 'HAD_CPOX']].dropna()
df = df[df['HAD_CPOX'].lt(3)].dropna()
df

       P_NUMVRC  HAD_CPOX
3           1.0         2
4           0.0         2
6           1.0         2
7           0.0         2
8           0.0         1
...         ...       ...
28446       1.0         2
28447       1.0         2
28449       1.0         2
28452       1.0         2
28454       1.0         2

[15286 rows x 2 columns]