# Introduction to Python

## Python Functions

In [19]:
x = 1
y = 2
x+y

3

In [16]:
def add_numbers(x,y):
    return x+y

print(add_numbers(1,2))

3

In [17]:
def add_numbers(x,y,z=None):
    if z != None:
        return x+y+z
    else:
        return x+y

print(add_numbers(1,2,3))

6

In [20]:
a = add_numbers
a(1,2)

3

## Python Types and Sequences

In [21]:
type('This is a string')

str

In [22]:
type(1)

int

In [23]:
type(1.2)

float

In [24]:
type(None)

NoneType

In [25]:
type(a)

function

In [26]:
x = (1, 'a', 2, 'b')
type(x)

tuple

In [31]:
x = [1, 'a', 2, 'b']
type(x)

list

### List Functions

In [32]:
x.append(100)
print(x)

[1, 'a', 2, 'b', 100]

In [33]:
for item in x:
    print(item)

1
a
2
b
100

In [35]:
i = 0 
while( i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
100

In [36]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [37]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [41]:
1 in [1,2,3]

False

### Slicing!

In [43]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [47]:
print(x[-1])
print(x[-4:-2])
print(x[:3])
print(x[3:])

g
ri
Thi
s is a string

In [48]:
firstname= 'Mark'
surname= 'Gallacher'

print(firstname + ' ' + surname)
print(firstname * 2)
print('ark' in firstname)

Mark Gallacher
MarkMark
True

### Spliting

In [57]:
firstname = "Mark Graham Gallacher".split(' ')[0]
surname = "Mark Graham Gallacher".split(' ')[-1]
middlename = "Mark Graham Gallacher".split(' ')[1]
print(firstname)
print(surname)
print(middlename)

Mark
Gallacher
Graham

### Dictionaries ( reqs {} and : )

In [83]:
x={'Mark Gallacher': 'address@gmail.com', 'Bill Gates': 'Billsemail@gmail.com' }
x['Mark Gallacher']

'address@gmail.com'

In [84]:
for name in x:
    print(x[name])

address@gmail.com
Billsemail@gmail.com

In [85]:
for email in x.values():
    print(email)

address@gmail.com
Billsemail@gmail.com

In [86]:
for name, email in x.items():
    print(name)
    print(email)

Mark Gallacher
address@gmail.com
Bill Gates
Billsemail@gmail.com

In [87]:
x = ('Mark', 'Gallacher', 'EmailAddress')
fname, lname, email = x

In [88]:
fname

'Mark'

In [89]:
lname

'Gallacher'

## More on Strings

In [91]:
print('Mark' + str(2))

Mark2

In [95]:
sales_record = {'price' : 3.24,
               'num_items': 4,
               'persons': 'Mark'}

sales_statement = '{} brought {} items(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['persons'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Mark brought 4 items(s) at a price of 3.24 each for a total of 12.96

## Reading and Writing CSV Files

In [3]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [4]:
len(mpg)

234

In [7]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

### Needs to use float() as numbers are saved as strings, so we convert them to floats

In [10]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [12]:
sum(float(a['hwy'])for a in mpg) / len(mpg)

23.44

In [15]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [27]:
CtyMpgByCyl = []

for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, summpg/ cyltypecount))
    
CtyMpgByCyl.sort(key = lambda x:x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [30]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [32]:
BwyMpgByClass = []

for t in vehicleclass:
    summpg = 0
    vclasscount = 0
    for d in mpg:
        if d["class"] == t:
            summpg += float(d['hwy'])
            vclasscount += 1
    BwyMpgByClass.append((t, summpg / vclasscount))
    
BwyMpgByClass.sort(key=lambda x:x[1])
BwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

### Note this doesn't use Pandas, which is much more efficient

## Dates and Times

In [33]:
import datetime as dt
import time as tm

In [34]:
tm.time()

1652115172.03

In [38]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2022, 5, 9, 16, 53, 50, 273208)

In [40]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2022, 5, 9, 16, 53, 50)

In [43]:
delta = dt.timedelta(days = 100)
delta

datetime.timedelta(days=100)

In [44]:
today = dt.date.today()

In [45]:
today - delta

datetime.date(2022, 1, 29)

## Advanced Objects, map()

In [55]:
class Person: #usually camal case (Person_Name_For_Example)
    department = ' School of Life Sciences'
    
    def set_name(self, new_name): #Must include self and self. (maybe different in Pandas)
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [56]:
person = Person()
person.set_name('Mark Gallacher')
person.set_location('Glasgow, Scotland')
print('{} lives in {} and works in the depart {}'.format(person.name, person.location, person.department))

Mark Gallacher lives in Glasgow, Scotland and works in the depart  School of Life Sciences

In [57]:
#functional programming is side effect free?
# map(function, iterable, ... ) all must be iterable

store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00 , 11.10, 12.34, 2.01]

cheapest = map(min, S)