In [19]:
import pandas as pd
import numpy as np
import re

In [18]:
# Q1
a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [30]:
# Q2
s = 'ABCAC'
re.search('A', s) # Onliy finds first item
re.match('A', s) == True # needs to be converted as a boolean first
re.split('A', s) # returns three strings

['', 'BC', 'C']

In [47]:
# Q3
s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

result = []

for item in re.finditer('(.)(?=A{3,3})', s):
    result.append(item.group())
result

['C', 'F', 'B']

In [57]:
# Q4
df = pd.Series([4,7,-5,3], index = list('dbac'))
df[0]
df.iloc[0]
df.index[0] # only one that doesn't return the value
df['d']

4

In [71]:
# Q5
s1 = pd.Series([20, 15, 18, 31], 
               index = ['Mango', 'Strawberry', 'Blueberry', 'Vanilla'])
s2 = pd.Series([20, 30, 15, 20, 20], 
               index = ['Strawberry', 'Vanilla', 'Banana', 'Mango', 'Plain'])

s3 = s1.add(s2) # adding values together, so need same index in both series

In [122]:
# Q6

df1 = pd.DataFrame(np.random.random(5) for x in range(5))
print(pd.to_numeric(df1.index))
print(df1.reset_index())
print(df1.set_index(df1[2]))
print(df1.reset_index())
print(df1.set_index(df1[0]))

Int64Index([0, 1, 2, 3, 4], dtype='int64')
   index         0         1         2         3         4
0      0  0.866643  0.585033  0.086810  0.779986  0.350380
1      1  0.860264  0.453692  0.529263  0.160842  0.270964
2      2  0.213077  0.812635  0.175233  0.077757  0.941423
3      3  0.188529  0.526511  0.947283  0.399977  0.169219
4      4  0.423771  0.374612  0.139540  0.817330  0.931516
                 0         1         2         3         4
2
0.086810  0.866643  0.585033  0.086810  0.779986  0.350380
0.529263  0.860264  0.453692  0.529263  0.160842  0.270964
0.175233  0.213077  0.812635  0.175233  0.077757  0.941423
0.947283  0.188529  0.526511  0.947283  0.399977  0.169219
0.139540  0.423771  0.374612  0.139540  0.817330  0.931516
   index         0         1         2         3         4
0      0  0.866643  0.585033  0.086810  0.779986  0.350380
1      1  0.860264  0.453692  0.529263  0.160842  0.270964
2      2  0.213077  0.812635  0.175233  0.077757  0.941423
3      3  0.188529  0.526511  0.947283  0.399977  0.169219
4      4  0.423771  0.374612  0.139540  0.817330  0.931516
                 0         1         2         3         4
0
0.866643  0.866643  0.585033  0.086810  0.779986  0.350380
0.860264  0.860264  0.453692  0.529263  0.160842  0.270964
0.213077  0.213077  0.812635  0.175233  0.077757  0.941423
0.188529  0.188529  0.526511  0.947283  0.399977  0.169219
0.423771  0.423771  0.374612  0.139540  0.817330  0.931516

In [130]:
# Q7
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S['b':'e'] # this in inclusive when string
S[1:4]  # this is exclusive when integer
S[['b', 'c', 'd']]  # This is useful panda notation
S[S <= 3][S > 0]

b    1
c    2
d    3
dtype: int32

In [140]:
# Q8

df = pd.DataFrame({'a':[5,5,71,67],
                   'b':[6,82,31,37],
                   'c':[20,28,92,49]},
                  index = ['R1', 'R2', 'R3','R4'])# Q8

f = lambda x: x.max() + x.min()
df_new = df.apply(f, axis = 0) # applies to columns?
df_new

a     76
b     88
c    112
dtype: int64

In [165]:
# Q10
df = pd.DataFrame({'Item':
                   ['item_1','item_1','item_1','item_2','item_2','item_2'],
                  'Store':
                   ['A', 'B', 'C', 'A', 'B', 'C'],
                  'Sold': [10, 20, 'NaN', 5, 10, 15]},
                 index = range(6))
df.unstack().unstack()

            0       1       2       3       4       5
Item   item_1  item_1  item_1  item_2  item_2  item_2
Store       A       B       C       A       B       C
Sold       10      20     NaN       5      10      15